html {
}

.foil {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  opacity: 2;
	height:100%;
  animation: foil 8s ease infinite;
	background-size:200% 200%;
}

@keyframes foil {
	0% {
		background-position: 84% 0;
	}
	50% {
		background-position: 17% 100%;
	}
	100% {
		background-position: 84% 0;
	}
}

body {
  width: 400px;
  margin: 0 auto;
  background-color: black;
  padding: 1em;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

footer {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 2px groove #464646;
}

status-message[type='DONE'] {
  color: green;
}

status-message[type='LOADING'] {
  color: yellow;
}

status-message[type='ERROR'] {
  color: red;
}